*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:
    radial-gradient(circle at top,#00d4ff22,transparent 40%),
    radial-gradient(circle at bottom,#8b5cf622,transparent 40%),
    #0b1120;

    color:white;

    overflow:hidden;
}

.container{

    width:90%;
    max-width:650px;

    padding:60px;

    text-align:center;

    border-radius:25px;

    background:rgba(255,255,255,.06);

    border:1px solid rgba(255,255,255,.15);

    backdrop-filter:blur(15px);

    box-shadow:
    0 20px 60px rgba(0,0,0,.45);

    animation:fadeUp .8s ease;
}

.icon{

    width:100px;
    height:100px;

    margin:auto;

    border-radius:50%;

    background:linear-gradient(135deg,#00d4ff,#7c3aed);

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:48px;

    margin-bottom:30px;
}

h1{

    font-size:3rem;

    margin-bottom:20px;
}

p{

    color:#d7d7d7;

    line-height:1.9;

    font-size:1.05rem;
}

.info{

    margin-top:15px;
    margin-bottom:40px;
}

.buttons{

    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;
}

.btn{

    text-decoration:none;

    padding:15px 35px;

    border-radius:50px;

    color:white;

    background:linear-gradient(135deg,#00d4ff,#7c3aed);

    transition:.4s;
}

.btn:hover{

    transform:translateY(-6px);

    box-shadow:0 10px 25px rgba(0,212,255,.4);
}

.outline{

    background:transparent;

    border:2px solid #00d4ff;
}

.outline:hover{

    background:#00d4ff;
    color:#08111d;
}

@keyframes fadeUp{

    from{

        opacity:0;
        transform:translateY(40px);
    }

    to{

        opacity:1;
        transform:translateY(0);
    }

}